<mat-dialog-content class="mat-dialog">
    <h2 mat-dialog-title class="title">Добавить нового пользователя:</h2>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <p>Имя пользователя:</p>
        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="createForm.controls['name']!.hasError('required')">Имя является обязательным</mat-error>
        </mat-form-field>
    
        <p>Эл.почта пользователя:</p>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="createForm.controls['email']!.hasError('required')">Электронная почта является обязательной</mat-error>
            <mat-error *ngIf="createForm.controls['email']!.hasError('email')">Пожалуйста, введите действительную электронную почту</mat-error>
        </mat-form-field>
    
        <p>Веб-сайт пользователя:</p>
        <mat-form-field class="example-full-width">
            <mat-label>Website</mat-label>
            <input matInput formControlName="website">
            <mat-error *ngIf="createForm.controls['website']!.hasError('required')">Веб-сайт является обязательным</mat-error>
        </mat-form-field>
    
        <div formGroupName="company">
            <p>Название компании:</p>
            <mat-form-field class="example-full-width">
                <mat-label>Company name</mat-label>
                <input matInput type="text" formControlName="name">
                <mat-error *ngIf="createForm.controls['company']!.controls['name']!.hasError('required')">Название компании является обязательным</mat-error>
            </mat-form-field>
        </div>

        <mat-dialog-actions align="center">
            <button mat-raised-button type="submit" color="primary" class="raised-btn__create" [disabled]="createForm.invalid" [mat-dialog-close]="true">Добавить</button>
            <button mat-raised-button type="button" color="warn"  class="raised-btn__cancel" (click)="onCancel()" [mat-dialog-close]="false">Отменить</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>